
.board-module{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
.board-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
    height: 420px;

}
.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.square {
    height: 24px;
    width: 24px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    text-align: center;
    padding: 2px;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
